**/build
build/
.c9/
*.class
.classpath
/connect.lock
/coverage/*
*.ctxt
/*DB.*
*Db.properties
*Db.script
/dist
.DS_Store
/e2e/*.js
/e2e/*.map
*.ear
/.gradle
.gradle
**/.gradle
gradle-app.setting
.gradletasknamecache
!gradle-wrapper.jar
hs_err_pid*
/.idea
.idea
*.iml
*.ipr
*.iws
*.jar
*.launch
/libpeerconnection.log
/.link_to_grails_plugins/
/*.log
*.log
/logs
/node_modules
**/node_modules
npm-debug.log

/out
/out/
out/
/out-tsc
/plugins
/plugin.xml
/prodDb.*
.project
*.rar
/.sass-cache
.settings
.settings/
/stacktrace.log
stacktrace.log
*.sublime-workspace
target
*.tar.gz
testem.log
/test/reports
Thumbs.db
/tmp
/typings
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.war
/web-app/plugins
/web-app/WEB-INF/classes
*.zip